<div class="login-s2">
  <div class="signup-block">

    <div class="container d-flex-h-full">
      <div class="content" fxLayout="row" fxLayoutAlign="end center" fxFlexFill>
        <div fxFlex.gt-sm="35" fxFlex="100">
          <div class="mb-20">
            <h3 class="font-weight-bolder text-center auth-head">OK$ Bulk Top Up</h3>
          </div>
          <div class="login-wrapper">
            <div>
              <mat-form-field appearance="outline">
                <!-- <mat-label>Enter User Name</mat-label> -->
                <mat-icon matPrefix class="text-black field-icon">account_box</mat-icon>
                <input [formControl]="emailFormControl" matInput placeholder="Enter User Name" >
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Username is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <!-- <mat-label>Enter Password</mat-label> -->
                <mat-icon matPrefix class="text-black field-icon">lock</mat-icon>
                <input [formControl]="emailFormControl1" class="paddingBottom-2" matInput value="123" placeholder="Enter Password" [type]="hide ? 'password' : 'text'">
                <mat-error *ngIf="emailFormControl1.hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
                <mat-icon class="text-black" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>

              <div class="text-center">
                <div>
                  <a href="javascript:void(0);" class="mt-10" [routerLink]="['/auth/forgot-password']">Forgot your
                    password?</a>
                </div>
                <div>
                  <mat-checkbox color="primary" class="mb-30">Remember Me</mat-checkbox>
                </div>
                <button [disabled]="emailFormControl1.hasError('required') || emailFormControl.hasError('required')" class="login_btn"  [routerLink]="'../../dashboard'">LOGIN</button>
                <!-- <button mat-raised-button [disabled]="emailFormControl1.hasError('required') || emailFormControl.hasError('required')" color="primary" class="w-50 mx-auto" [routerLink]="'../../dashboard'">LogIn</button> -->
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>
