<div class="p-3 main-content">
  <h3>Uploaded Telco List</h3>


  <div class="d-flex align-items-center">
    <div>
      <h5>Multiple Top Up Reference Number :202108061053110000981, Total Payment Amount : 19,000 MMK</h5>
    </div>
    <div class="pb-3 ps-3">
      <button mat-raised-button class="" color="primary" [routerLink]="'../multiple-top-up'">Proceed To Pay</button>
    </div>
  </div>

  <div class="pt-2">

    <div class="d-flex justify-content-between align-items-center">
      <h5>All Telco List</h5>
      <div class="d-flex justify-content-between align-items-center">
        <div class="search-form">
          <input (keyup)="applyFilter($event)" type="text" name="search" placeholder="Search" class="search-bar1" autocomplete="off">
        </div>
        <img src="assets/icons/excel%20download%20.svg" alt="" class="crud-btns pe-2" matTooltip="Download"
             aria-label="Button that displays a tooltip when focused or hovered over">
      </div>
    </div>

    <div class="table-pagination1">
      <table mat-table [dataSource]="dataSource" class="text-center">

        <!-- Weight Column -->
        <ng-container matColumnDef="numbers">
          <th mat-header-cell *matHeaderCellDef> Telecom Name </th>
          <td mat-cell *matCellDef="let element"> {{element.numbers}} </td>
        </ng-container>

        <ng-container matColumnDef="telecomName">
          <th mat-header-cell *matHeaderCellDef> Telecom Name </th>
          <td mat-cell *matCellDef="let element"> {{element.telecomName}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="uploadName">
          <th mat-header-cell *matHeaderCellDef> Uploaded Telecom Name</th>
          <td mat-cell *matCellDef="let element"> {{element.uploadName}} </td>
        </ng-container>

        <ng-container matColumnDef="serviceType">
          <th mat-header-cell *matHeaderCellDef> Service Type</th>
          <td mat-cell *matCellDef="let element"> {{element.serviceType}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <ng-container matColumnDef="beneficiaryNo">
          <th mat-header-cell *matHeaderCellDef> Beneficiary Number</th>
          <td mat-cell *matCellDef="let element"> {{element.beneficiaryNo}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <ng-container matColumnDef="excelNo">
          <th mat-header-cell *matHeaderCellDef> Excel Row No</th>
          <td mat-cell *matCellDef="let element"> {{element.excelNo}} </td>
        </ng-container>

        <ng-container matColumnDef="error">
          <th mat-header-cell *matHeaderCellDef> Error</th>
          <td mat-cell *matCellDef="let element"> {{element.error}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>


    </div>
    <mat-toolbar>
      <mat-paginator class="mat-paginator-user-role-permission" [pageSizeOptions]="[20, 25, 50, 100]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </mat-toolbar>

  </div>




</div>

