
.select_user_role_permission_filter{
  height: 55px;
  outline: none;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  padding: 15px 15px;
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: #d6c7ec 3px 3px 3px 0px;

}
.select_search_box {
  border-radius: 20px;
  height: 30px;
}
.filter_select_header{
  height: 60px;
}
#file{
  height: 55px;
  border: none;
  box-shadow: #d6c7ec 3px 3px 3px 0px;
  outline: none;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 13px 15px;
  font-weight: 500;
  width: 100%;
}
.upload {
  margin-left: -35px !important;
  vertical-align: middle;
  color: #000;
}
input[type=file]::-webkit-file-upload-button {
  display: none;
}
.profile-preview {
  position: absolute;
  width: 27px;
}

//////////
.demo-table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background:#e9e8e8   ;
}

.demo-row-is-clicked {
  font-weight: bold;
  background:#e9e8e8   ;
}

.table-header{
  width: 100% !important;
}
table {
  width: 100%;
  white-space: nowrap;

}
.table-pagination1 {
  height: calc(65vh - 120px);
  overflow: auto;
}

.table-pagination1 td{
  background: #eae3f3;
  padding-right: 15px !important;
  border-top: solid 10px #f6f6f6 !important;
}

.table-pagination1 table th {
  color: #5d5858;
  font-size: 16px;
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
  padding: 0px 25px;
}
.table-pagination1 table td{
  text-align: center;
  font-weight: 600;
  padding: 0px 25px;
}

// search
.search-bar1 {
  width: 45px;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
  background-color: unset;
  background-image: url(../../../../assets/img/table-search.svg);
  background-size: 30px;
  background-position: 10px 8px;
  background-repeat: no-repeat;
  padding: 12px 20px 15px 40px;
  transition: width 0.4s ease-in-out;
  -webkit-transition: width 0.4s ease-in-out;
  float: right;
}

.search-bar1::placeholder
{
  color: #000000;
}

.search-bar1:focus
{
  width: 250px;
  border-bottom: 2px solid #0c0f3a;
  color: #000;
  outline: #fff;
  border-radius: 4px;
}
