<div class="p-3">
    
    <div class="d-flex justify-content-between align-items-center pb-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb font-weight-bold " style="background: none;">
              <li class="breadcrumb-item"><a href=""  [routerLink]="''"><h4>Process Total Base Amount Wise</h4></a></li>
              <li class="breadcrumb-item" aria-current="page"><a href=""  [routerLink]="'../top-up-base'"><h4>Top Up Base Amount Wise</h4></a></li>
              <li  class="breadcrumb-item"><h4>Bulk Top Up</h4></li>
            </ol>
        </nav> 
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card shadow dashcard"  [routerLink]="'../bulk-top-up-details'"> 

                <div class="d-flex justify-content-between pt-3">
                    <div class="px-3">
                      <p class="sHeader">Bulk Top Up</p>
                    </div>
                    <div class="px-3 dayTextBg mx-2">
                      <p class="dayText">30 days</p>
                    </div>
                </div>
                <div id="bulkBase" class="responsive-chart"> 
                  <apx-chart
                    [colors]="bulkAmtBase.colors"
                    [series]="bulkAmtBase.series"
                    [chart]="bulkAmtBase.chart"
                    [yaxis]="bulkAmtBase.yaxis"
                    [xaxis]="bulkAmtBase.xaxis"
                    [stroke]="bulkAmtBase.stroke"
                    [tooltip]="bulkAmtBase.tooltip"
                    [plotOptions]="bulkAmtBase.plotOptions"
                    
                      style="
                      width: 100%;
                      height: 100%;"
                  ></apx-chart>
                </div>   
                <div class="m-2">
                  <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Operator</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Count</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                       
                        <td>MPT</td>
                        <td>8,900,000</td>
                        <td>1,200</td>
                      </tr>
                      <tr>
                      
                        <td>Telenor</td>
                        <td>10,680,000</td>
                        <td>2,000</td>
                      </tr>
                      <tr>
  
                        <td>Ooredoo</td>
                        <td>16,020,000</td>
                        <td>900</td>
                      </tr>

                      <tr>
                      
                        <td>Mytel</td>
                        <td>10,680,000</td>
                        <td>2,000</td>
                      </tr>
                      <tr>
  
                        <td>MEC</td>
                        <td>16,020,000</td>
                        <td>900</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>    