<div class="p-3">
    
    <div class="d-flex justify-content-between align-items-center pb-2">
        <h4>Process Total Base Amount Wise</h4>
    </div>
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="card shadow dashcard" [routerLink]="'./top-up-base'"> 

                <div class="d-flex justify-content-between pt-3">
                    <div class="px-3">
                      <p class="sHeader">Top Up Base Amount Chart</p>
                    </div>
                    <div class="px-3 dayTextBg mx-2">
                      <p class="dayText">30 days</p>
                    </div>
                </div>
                <div id="TopupChart"  class="responsive-chart">

                  <!-- <apx-chart
                  [series]="cgmAmtChartOpt.series"
                  [colors]="cgmAmtChartOpt.colors"
                  [chart]="cgmAmtChartOpt.chart"
                  [labels]="cgmAmtChartOpt.labels"
                  [responsive]="cgmAmtChartOpt.responsive"
                  [dataLabels]="cgmAmtChartOpt.dataLabels"
                  [legend]="cgmAmtChartOpt.legend"
                  [plotOptions]="cgmAmtChartOpt.plotOptions"
                  
                  style="
                  width: 100%;
                  height: 100%;"
                  ></apx-chart> -->

                 
                    <apx-chart
                      [series]="TotalCountChartOpt.series"
                      [colors]="TotalCountChartOpt.colors"
                      [chart]="TotalCountChartOpt.chart"
                      [labels]="TotalCountChartOpt.labels"
                      [responsive]="TotalCountChartOpt.responsive"
                      [dataLabels]="TotalCountChartOpt.dataLabels"
                      [legend]="TotalCountChartOpt.legend"
                      [plotOptions]="TotalCountChartOpt.plotOptions"
                      
                      style="
                      width: 100%;
                      height: 100%;"
                      ></apx-chart>
                </div>

                <div id="labelOverlay">
                  <div class="overlay-label">Total Count</div>
                  <div class="overlay-span">2800</div>
               </div>                 
            </div>

            <div class="card shadow dashcard"  [routerLink]="'./operator-base'"> 

              <div class="d-flex justify-content-between pt-3">
                  <div class="px-3">
                    <p class="sHeader">Operator Base Amount Chart</p>
                  </div>
                  <div class="px-3 dayTextBg mx-2">
                    <p class="dayText">30 days</p>
                  </div>
              </div>
              <div id="operatorAmountBase" class="responsive-chart"> 
                <apx-chart
                  [colors]="operatorAmtBase.colors"
                  [series]="operatorAmtBase.series"
                  [chart]="operatorAmtBase.chart"
                  [yaxis]="operatorAmtBase.yaxis"
                  [xaxis]="operatorAmtBase.xaxis"
                  [stroke]="operatorAmtBase.stroke"
                  [tooltip]="operatorAmtBase.tooltip"
                  [plotOptions]="operatorAmtBase.plotOptions"
                  
                    style="
                    width: 100%;
                    height: 100%;"
                ></apx-chart>
              </div>            
            </div>
           
        </div>

        <div class="col-md-6 col-12">
            <div class="card shadow dashcard"  [routerLink]="'./service-type-base'">
                <div class="d-flex justify-content-between pt-3">
                    <div class="px-3">
                      <p class="sHeader">Service Type Base Amount Wise</p>
                   
                    </div>
                    <div class="px-3 dayTextBg mx-2">
                      <p class="dayText">30 days</p>
                    </div>
                </div>
                <div id="serviceTypeAmt"> 
                    <apx-chart
                      [series]="serviceTypeAmtOptions.series"
                      [colors]="serviceTypeAmtOptions.colors"
                      [chart]="serviceTypeAmtOptions.chart"
                      [labels]="serviceTypeAmtOptions.labels"
                      [responsive]="serviceTypeAmtOptions.responsive"
                      [dataLabels]="serviceTypeAmtOptions.dataLabels"
                      [legend]="serviceTypeAmtOptions.legend"
                      [plotOptions]="serviceTypeAmtOptions.plotOptions"
                      [responsive]="serviceTypeAmtOptions.responsive"
                      style="
                      width: 100%;
                      height: 100%;"
                      ></apx-chart>
                </div> 
            </div>

        </div>
    </div>

    <div class="row">
      <div class="col-md-6">
         
      </div>
    </div>
</div>
