<div>
  <div class="title_outer d-flex justify-content-between align-items-center ">
    <h4 class="text-white">Add Service Type Configuration Details</h4>
    <h3 class="text-white"><i class="fas fa-times-circle" aria-hidden="true" (click)="onDismiss()" style="cursor: pointer;"></i></h3>
  </div>
  <mat-dialog-content class="mat-typography">
    <div class="content_outer">

      <div class="row rowMargin p-3">

        <div class="col-12 col-md-6 col-lg-6 ">
          <label class="fw-bold pb-3">Select Telecom Name</label>
          <mat-select [formControl]="telecomNamelists" class="select_user_role_permission_filter" panelClass="single-option" placeholder="Select">
            <mat-select-trigger>
              {{telecomNamelists.value ? telecomNamelists.value[0] : ''}}
              <span *ngIf="telecomNamelists.value?.length > 1" class="example-additional-selection">
           (+{{telecomNamelists.value.length - 1}} {{telecomNamelists.value?.length === 2 ? 'other' : 'others'}})
          </span>
            </mat-select-trigger>
            <mat-option *ngFor="let telecomName of telecomNames" [value]="telecomName">{{telecomName}}</mat-option>
          </mat-select>
        </div>

        <div class="col-12 col-md-6 col-lg-6 ">
          <label class="fw-bold pb-3">Select Service Type</label>
          <mat-select [formControl]="serviceTypelists" class="select_user_role_permission_filter" panelClass="single-option" placeholder="Select">
            <mat-select-trigger>
              {{serviceTypelists.value ? serviceTypelists.value[0] : ''}}
              <span *ngIf="serviceTypelists.value?.length > 1" class="example-additional-selection">
           (+{{serviceTypelists.value.length - 1}} {{serviceTypelists.value?.length === 2 ? 'other' : 'others'}})
          </span>
            </mat-select-trigger>
            <mat-option *ngFor="let serviceType of serviceTypes" [value]="serviceType">{{serviceType}}</mat-option>
          </mat-select>
        </div>
       
      </div>

      <div class="button_group p-3 d-flex justify-content-center align-items-center">
        <button class="cancel" aria-hidden="true" (click)="onDismiss()">Cancel</button>
        <button class="save" >Save</button>
      </div>
    </div>
  </mat-dialog-content>
</div>

