<div>
  <div class="title_outer d-flex justify-content-between align-items-center ">
    <h3 class="text-white">Filter</h3>
    <h3 class="text-white"><i class="fas fa-times-circle" aria-hidden="true" (click)="onDismiss()" style="cursor: pointer;"></i></h3>
  </div>
  <mat-dialog-content class="mat-typography">
    <div class="content_outer">
      <div class="col-12 col-md-12 col-lg-6">
        <h5 class="pt-2">Select Period Date</h5>
        <mat-form-field appearance="fill" style="width: 95%" class="useraddInput">
          <input readonly matInput
                 type="text"
                 placeholder="From - To"
                 bsDaterangepicker
                 [bsConfig]="{ isAnimated: true, rangeInputFormat : 'ddd,DD-MMM-YYYY', dateInputFormat: 'ddd,DD-MMM-YYYY',showPreviousMonth: true }"[maxDate]="maxDate">
          <mat-icon class="float-end text-dark" style="position: absolute;bottom: 40%;right: 2%">date_range</mat-icon>
        </mat-form-field>
      </div>

      <div class="row rowMargin">

        <div class="col-12 col-md-12 col-lg-6">
          <label class="fw-bold pb-2">Select File Name</label>
          <mat-select class="select_user_role_permission_filter" multiple placeholder="Select">
            <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign.xs="start start" class="filter_select_header">
              <mat-form-field class="select_search_box" appearance="standard">
                <input matInput placeholder="Enter Keywords">
              </mat-form-field>
            <button fxLayout="row" mat-button class="check_uncheck_btn mx-2" >
              <mat-icon class="text-black s-5">
                check</mat-icon>Check All
            </button>
            <button fxLayout="row" mat-button class="check_uncheck_btn mx-2 v-line" >
              <mat-icon class="text-black s-5">
                clear</mat-icon>UnCheck All
            </button>
          </div>
            <mat-option *ngFor="let fileName of fileNames" [value]="fileName">{{fileName.viewValue}}</mat-option>
          </mat-select>
        </div>

        <div class="col-12 col-md-12 col-lg-6">
          <label class="fw-bold pb-2">Select Telecom Name</label>
          <mat-select class="select_user_role_permission_filter" multiple placeholder="Select">
            <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign.xs="start start" class="filter_select_header">
              <mat-form-field class="select_search_box" appearance="standard">
                <input matInput placeholder="Enter Keywords">
              </mat-form-field>
            <button fxLayout="row" mat-button class="check_uncheck_btn mx-2" >
              <mat-icon class="text-black s-5">
                check</mat-icon>Check All
            </button>
            <button fxLayout="row" mat-button class="check_uncheck_btn mx-2 v-line" >
              <mat-icon class="text-black s-5">
                clear</mat-icon>UnCheck All
            </button>
          </div>
            <mat-option *ngFor="let telecomName of telecomNames" [value]="telecomName">{{telecomName.viewValue}}</mat-option>
          </mat-select>
        </div>

      </div>

      <div class="row rowMargin">

        <div class="col-12 col-md-12 col-lg-6">
          <label class="fw-bold pb-2">Select  Mobile Number</label>
          <mat-select class="select_user_role_permission_filter" multiple placeholder="Select">
            <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign.xs="start start" class="filter_select_header">
              <mat-form-field class="select_search_box" appearance="standard">
                <input matInput placeholder="Enter Keywords">
              </mat-form-field>
            <button fxLayout="row" mat-button class="check_uncheck_btn mx-2" >
              <mat-icon class="text-black s-5">
                check</mat-icon>Check All
            </button>
            <button fxLayout="row" mat-button class="check_uncheck_btn mx-2 v-line" >
              <mat-icon class="text-black s-5">
                clear</mat-icon>UnCheck All
            </button>
            </div>
            <mat-option *ngFor="let mobilenumber of mobilenumbers" [value]="mobilenumber">{{mobilenumber.viewValue}}</mat-option>
          </mat-select>
        </div>

        <div class="col-12 col-md-12 col-lg-6">
          <label class="fw-bold pb-2">Select OK$ Transaction ID No</label>
          <mat-select class="select_user_role_permission_filter" multiple placeholder="Select">
            <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign.xs="start start" class="filter_select_header">
              <mat-form-field class="select_search_box" appearance="standard">
                <input matInput placeholder="Enter Keywords">
              </mat-form-field>
            <button fxLayout="row" mat-button class="check_uncheck_btn mx-2" >
              <mat-icon class="text-black s-5">
                check</mat-icon>Check All
            </button>
            <button fxLayout="row" mat-button class="check_uncheck_btn mx-2 v-line" >
              <mat-icon class="text-black s-5">
                clear</mat-icon>UnCheck All
            </button>
          </div>
            <mat-option *ngFor="let transactionIdNo of transactionIdNos" [value]="transactionIdNo">{{transactionIdNo.viewValue}}</mat-option>
          </mat-select>
        </div>

      </div>

      <div class="row rowMargin">
        <div class="col-12 col-md-12 col-lg-6">
          <label class="fw-bold pb-2">Select Role Permission</label>
          <mat-select class="select_user_role_permission_filter" panelClass="optionGroup" multiple placeholder="Select">
            <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign.xs="start start" class="filter_select_header">
              <mat-form-field class="select_search_box" appearance="standard">
                <input matInput placeholder="Enter Keywords">
              </mat-form-field>
            <button fxLayout="row" mat-button class="check_uncheck_btn mx-2" >
              <mat-icon class="text-black s-5">
                check</mat-icon>Check All
            </button>
            <button fxLayout="row" mat-button class="check_uncheck_btn mx-2 v-line" >
              <mat-icon class="text-black s-5">
                clear</mat-icon>UnCheck All
            </button>
          </div>
            <mat-optgroup *ngFor="let group of rolepermissiongroups" [label]="group.name">
              <mat-option *ngFor="let rolepermission of group.rolepermission" [value]="rolepermission.viewValue">
                {{rolepermission.viewValue}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
          <label class="fw-bold pb-2">Select Service Type</label>
          <mat-select class="select_user_role_permission_filter" multiple placeholder="Select">
            <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign.xs="start start" class="filter_select_header">
              <mat-form-field class="select_search_box" appearance="standard">
                <input matInput placeholder="Enter Keywords">
              </mat-form-field>
            <button fxLayout="row" mat-button class="check_uncheck_btn mx-2" >
              <mat-icon class="text-black s-5">
                check</mat-icon>Check All
            </button>
            <button fxLayout="row" mat-button class="check_uncheck_btn mx-2 v-line" >
              <mat-icon class="text-black s-5">
                clear</mat-icon>UnCheck All
            </button>
            </div>
            <mat-option *ngFor="let dataPlan of dataPlans" [value]="dataPlan">{{dataPlan.viewValue}}</mat-option>
          </mat-select>
        </div>
      </div>

      <div class="row rowMargin">

        <div class="col-12 col-md-12 col-lg-6">
          <label class="fw-bold pb-2">Select Status</label>
          <mat-select panelClass="single-option" class="select_user_role_permission_filter"  placeholder="Select">
            <mat-option *ngFor="let status of statuses" [value]="status">{{status.viewValue}}</mat-option>
          </mat-select>
        </div>

      </div>

      <div class="button_group pt-5 d-flex justify-content-center align-items-center">
        <button  mat-raised-button color="warn" class="cancel" aria-hidden="true" (click)="onDismiss()">RESET</button>
        <button  mat-raised-button color="primary" class="save"> APPLY</button>
      </div>
    </div>
  </mat-dialog-content>
</div>

