<div class=" p-3">
  <div class="d-md-flex d-block justify-content-between align-items-center pb-2">
    <h3>Single Top Up Listing</h3>
    <div class="d-flex justify-content-between align-items-center">
      <div class="search-form">
        <input type="text" name="search" placeholder="Search" class="search-bar" autocomplete="off">
      </div>
      <img src="assets/icons/Filter.svg" alt="" class="crud-btns pe-2" matTooltip="Filter"
           aria-label="Button that displays a tooltip when focused or hovered over" (click)="openDialog()">
      <img src="assets/icons/excel.svg" alt="" class="crud-btns  pe-2" matTooltip="Excel Download"
           aria-label="Button that displays a tooltip when focused or hovered over">
      <img src="assets/icons/Add%20pattern.svg" alt="" class="crud-btns pe-2" matTooltip="Create New"
           aria-label="Button that displays a tooltip when focused or hovered over" [routerLink]="'../create-single'">
    </div>
  </div>

  <!-- table -->
  <div class="table-pagination">
    <table mat-table [dataSource]="dataSource" class="text-center">

      <!-- Position Column -->

      <!-- Name Column -->
      <ng-container matColumnDef="serviceType">
        <th mat-header-cell *matHeaderCellDef> Service Type </th>
        <td mat-cell *matCellDef="let element"> {{element.serviceType}} </td>
      </ng-container>

      <ng-container matColumnDef="telecomName">
        <th mat-header-cell *matHeaderCellDef> Telecom Name </th>
        <td mat-cell *matCellDef="let element"> {{element.telecomName}} </td>
      </ng-container>

      <ng-container matColumnDef="transactionIdNo">
        <th mat-header-cell *matHeaderCellDef> OK$ Transaction ID No </th>
        <td mat-cell *matCellDef="let element"> {{element.transactionIdNo}} </td>
      </ng-container>

      <ng-container matColumnDef="mobileNo">
        <th mat-header-cell *matHeaderCellDef> Mobile Number </th>
        <td mat-cell *matCellDef="let element"> {{element.mobileNo}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="descriptionPackage">
        <th mat-header-cell *matHeaderCellDef> Description Package </th>
        <td mat-cell *matCellDef="let element"> {{element.descriptionPackage}} </td>
      </ng-container>

      <ng-container matColumnDef="selectPackage">
        <th mat-header-cell *matHeaderCellDef> Select Package </th>
        <td mat-cell *matCellDef="let element"> {{element.selectPackage}} </td>
      </ng-container>



      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td style="text-align: center;" mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </div>

  <mat-toolbar>
    <mat-paginator class="mat-paginator-user-role-permission" [pageSizeOptions]="[10, 20, 25, 50, 100]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </mat-toolbar>
</div>
