<div class="login-s2">
  <div class="signup-block">

    <!-- <div class="signup-container">
      <div class="container">
        <div>
          <a href="javascript:void(0);">
            <img src="" class="brand" alt="logo">
            OK$ BULK PAYMENT
          </a>
        </div>
        <div class="text-right">
        </div>
      </div>
    </div> -->

    <div class="container d-flex-h-full">
      <div class="content" fxLayout="row" fxLayoutAlign="end center" fxFlexFill>
        <div fxFlex.gt-sm="35" fxFlex="100">
          <div class="mb-20">
            <h3 class="font-weight-bolder text-center auth-head">OK$ Bulk Top Up</h3>
          </div>
          <div class="login-wrapper">
            <div class="bg-opacity">
              <div class="text-center">
                <h4 class="mb-40">Forgot Password?</h4>
              </div>


              <form action="" [formGroup]="form">
                <mat-form-field appearance="outline">
                  <mat-label>Enter User Name</mat-label>
                  <mat-icon matPrefix class="field-icon text-black">account_box</mat-icon>
                  <input matInput placeholder="">
                  <!-- <mat-hint class="error-message">The Email you entered is incorrect.</mat-hint> -->
                </mat-form-field>

                <mat-form-field appearance="outline" hideRequiredMarker="true">
                  <mat-label></mat-label>
                  <span class="country-flag" matPrefix>
                  <mat-icon class="text-black">stay_primary_portrait</mat-icon>
                  <img src="../../../../assets/img/flags.png" height="15" alt="">
                  &nbsp;+95
                </span>
                  <input matInput placeholder="09xxxxxxxxxx"  formControlName="mobileNumber" class="number_input" minlength="9" maxlength="11" (keyup)="formValidation()">
                  <!-- <mat-hint class="error-message">The Email you entered is incorrect.</mat-hint> -->
                </mat-form-field>
              </form>
            </div>

            <div class="d-flex flex-column otp-wrapper">
              <div class="otp_section" style="position: absolute;">
                <div style="margin-top: 25%;width: 310px;">
                  <app-enter-otp  [coutDownSecounds]="60" ></app-enter-otp>
                </div>
              </div>
            </div>

          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
