

.select_user_role_permission_filter{
  height: 55px;
  outline: none;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  padding: 15px 15px;
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: #d6c7ec 3px 3px 3px 0px;

}
.select_search_box {
  border-radius: 20px;
  height: 30px;
}
.filter_select_header{
  height: 60px;
}
#file{
  height: 55px;
  border: none;
  box-shadow: #d6c7ec 3px 3px 3px 0px;
  outline: none;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 13px 15px;
  font-weight: 500;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.04);
}
.upload {
  margin-left: -65px !important;
  vertical-align: middle;
  color: #000 !important;
}
input[type=file]::-webkit-file-upload-button {
  display: none;
}
.profile-preview {
  position: absolute;
  width: 27px;
}

//////////
.demo-table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background:#e9e8e8   ;
}

.demo-row-is-clicked {
  font-weight: bold;
  background:#e9e8e8   ;
}
.downloadBtn{
  background: #6c757d;
  color: white;
  border-radius: 5px !important;
}
