mat-icon{
    color: black;
}

.mat-toolbar {
    background:#fafafa;
    color: rgba(0, 0, 0, 0.87);
    
}

// .mat-drawer-content {
//     overflow-y: hidden !important;
//     overflow-x: auto !important;
// }

// .example-sidenav-content{
//     overflow: hidden !important;
// }