<div class="row p-5">
  <h3>Change Password</h3>
  <mat-card class="p-5">
    <div class="col-12 col-lg-4 p-2">
      <h5>Current Password</h5>
      <mat-form-field appearance="outline" class="useraddInput">
        <input class="paddingBottom-2" matInput placeholder="Enter Current Password"  [formControl]="email" required [type]="hide ? 'password' : 'text'">
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        <mat-icon matSuffix (click)="hide = !hide" class="pointer">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <!-- <mat-icon matSuffix>visibility_off</mat-icon> -->
        <!-- <mat-hint class="error-message">The Password you entered is incorrect.</mat-hint> -->
      </mat-form-field>

  
    </div>
    <div class="col-12 col-lg-4 p-2">
      <h5>Create New Password</h5>
      <mat-form-field appearance="outline" class="useraddInput">
        <input class="paddingBottom-2" matInput placeholder="Enter New Password"  [formControl]="email1" required [type]="hide1 ? 'password' : 'text'">
        <mat-error *ngIf="email1.invalid">{{getErrorMessage1()}}</mat-error>
        <mat-icon matSuffix (click)="hide1 = !hide1" class="pointer">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        <!-- <mat-icon matSuffix>visibility_off</mat-icon> -->
        <!-- <mat-hint class="error-message">The Password you entered is incorrect.</mat-hint> -->
      </mat-form-field>
    </div>
    <div class="col-12 col-lg-4 p-2">
      <h5>Confirm New Password</h5>
      <mat-form-field appearance="outline" class="useraddInput">
        <input class="paddingBottom-2" matInput placeholder="Enter Confirm New Password"  [formControl]="email2" required [type]="hide2 ? 'password' : 'text'">
        <mat-error *ngIf="email2.invalid">{{getErrorMessage2()}}</mat-error>
        <mat-icon matSuffix (click)="hide2 = !hide2" class="pointer">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        <!-- <mat-icon matSuffix>visibility_off</mat-icon> -->
        <!-- <mat-hint class="error-message">The Password you entered is incorrect.</mat-hint> -->
      </mat-form-field>
    </div>
    <mat-toolbar class="mat-toolbar mat-toolbar-single-row d-flex justify-content-center align-items-center pt-3">
      <button class="cancel" >CANCEL</button>
      <button class="update" >CHANGE</button>
    </mat-toolbar>
  </mat-card>
</div>
