<div class="login-s2">
  <div class="signup-block">

    <!-- <div class="signup-container">
      <div class="container">
        <div>
          <a href="javascript:void(0);">
            <img src="" class="brand" alt="logo">
            OK$ BULK PAYMENT
          </a>
        </div>
        <div class="text-right">
        </div>
      </div>
    </div> -->

    <div class="container d-flex-h-full">
      <div class="content" fxLayout="row" fxLayout.xs="row" fxLayoutAlign="end center" fxFlexFill>
        <div fxFlex.gt-sm="35" fxFlex="100">
          <h3 class="font-weight-bolder text-center auth-head">OK$ Bulk Top Up</h3>
          <div class="login-wrapper">
            <div class="text-center">
              <h4 class="mb-40">Create a new password</h4>
            </div>
            <mat-form-field appearance="outline">
              <mat-label>New Password</mat-label>
              <mat-icon matPrefix class="field-icon">lock</mat-icon>
              <input matInput placeholder="New Password" type="password" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix class="pointer" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <!-- <mat-icon matSuffix>visibility_off</mat-icon> -->
              <!-- <mat-hint class="error-message">The Password you entered is incorrect.</mat-hint> -->
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Confirm New Password</mat-label>
              <mat-icon matPrefix class="field-icon">lock</mat-icon>
              <input matInput  placeholder="Confirm New Password" [type]="hide1 ? 'password' : 'text'" type="password">
              <mat-icon matSuffix class="pointer" (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
              <!-- <mat-icon matSuffix>visibility_off</mat-icon> -->
              <!-- <mat-hint class="error-message">The Password you entered is incorrect.</mat-hint> -->
            </mat-form-field>

            <div fxLayout="row" fxLayoutAlign="space-around center" fxFlexFill fxLayoutGap="20px">
              <button mat-raised-button color="success" [routerLink]="['/auth/login']">Submit</button>
              <button mat-raised-button color="warn" [routerLink]="['/auth/forgot-password']">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
