<div class="row p-3">
  <div>
    <h4 class="user-header">User Profile</h4>
  </div>
  <div class="row">
    <div class="col-12 col-xl-2 p-2 d-flex justify-content-center align-items-start">
      <img src="../../../assets/img/profile-pic.jpg" class="user-profile-pic" alt="">
    </div>
    <div class="col-12 col-xl-10 p-2">
      <h5>Bulk TopUp Admin</h5>
      <div class="py-2 pt-3">
        <p>Password</p>
        <h5 class="fw-bolder">password</h5>
      </div>
      <div class="py-2">
        <p>Mobile Number</p>
        <h5 class="fw-bolder">959 481115789</h5>
      </div>
      <div class="py-2">
        <p>Company Name</p>
        <h5 class="fw-bolder">Consumer Goods Myanmar Limited, CGM</h5>
      </div>
      <div class="py-2">
        <p>Department</p>
        <h5 class="fw-bolder">Account Department, Sales Department</h5>
      </div>
      <div class="py-2">
        <p>Designation</p>
        <h5 class="fw-bolder">Accountant,Sales</h5>
      </div>
      <div class="py-2">
        <p>User Type</p>
        <h5 class="fw-bolder">Admin</h5>
      </div>
      <div class="py-2">
        <p>Transaction Type</p>
        <h5 class="fw-bolder">Report,Company Base</h5>
      </div>
      <div class="py-2">
        <p>Description</p>
        <h5 class="fw-bolder">-</h5>
      </div>
    </div>
  </div>
  <div class="row" style="border-top: 1px solid #494646">
    <h5 class="mt-3">User Role Permission</h5>
    <div class="py-2">
      <p>Individual Base</p>
      <h5 class="fw-bolder">Create New Individual Base,Export to Excel,Filter,Upload,Edit,Delete</h5>
    </div>
    <div class="py-2">
      <p>Telecom Masters</p>
      <h5 class="fw-bolder">Create New Telecom Name,Edit,Filter</h5>
    </div>
    <div class="py-2">
      <p>Report</p>
      <h5 class="fw-bolder">Download Excel,Filter</h5>
    </div>
  </div>
</div>

