<div class="p-3 main-content">
  <h3>Edit Designation Name</h3>
  <div class="row p-2">
    <div class="col-12 col-md-6 ">
      <h5>Designation Name <span class="text-danger">*</span></h5>
      <mat-form-field class="example-full-width useraddInput" appearance="outline">
        <input matInput placeholder="Enter Designation Name" value="">
      </mat-form-field>
    </div>
    <div class="col-12 col-md-6">
      <h5>Remark<span class="text-danger">*</span></h5>
      <mat-form-field appearance="outline" class="example-full-width useraddInput">
        <input matInput placeholder="Enter Remark">
      </mat-form-field>
    </div>
  </div>
  <div class="row p-2">
    <div class="d-flex">
      <mat-checkbox [checked]= "myModel" class = "example-margin" >
      </mat-checkbox>
      <p class="ps-2">Is Active</p>
    </div>
  </div>
</div>
<mat-toolbar class="mat-toolbar mat-toolbar-single-row d-flex justify-content-center align-items-center">
  <button mat-raised-button  color="warn" [routerLink]="'../designation'">Cancel</button>
  <button mat-raised-button class="pl-5" color="success">Save</button>
</mat-toolbar>
