// @import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "app-theme.scss";
@import "variable-mixins.scss";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');


*,
::after,
::before {
  box-sizing: border-box
}


html,
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  margin: 0;
  line-height: 20px;
  color: $textcolor;
  overflow-y: auto;
  background: $body-bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $darkgray;
  margin: 20px 0;
}

h5 {
  font-size: 15px !important;
  font-weight: 700 !important;
  color: $darkgray !important;
}

h6 {
  font-size: 12px !important;
  letter-spacing: .03em;
  font-weight: 700 !important;
  color: $darkgray !important;
}

a,
p,
small {
  color: $textcolor;
}

a {
  display: inline-block;
  text-decoration: none;
  @include transition(color .2s ease-out);
}

a {
  &:hover {
    color: $primary;
  }
}

.text-primary {
  color: $primary;
}

p {
  a {
    &:hover {
      color: $primary;
    }
  }
}

.ps-static {
  position: static !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-20 {
  padding-left: 20px;
}

.m-0 {
  margin: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px !important;
}

.px-25 {
  padding: 0 25px;
}

.d-block {
  display: block;
}

.brand {
  height: 40px;
}

.text-center {
  text-align: center;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.d-flex {
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  -ms-flex-align: center;
  align-items: center;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.justify-content-between {
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-content-end {
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
}

.align-self-center {
  -ms-flex-item-align: center;
  align-self: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  height: 45px;
  text-transform: uppercase;
}
.mat-success{
  line-height: 10px;
  background: #02893c;
  color: #ffffff;
  border: solid 2px #02893c;
  border-radius: 30px;
  width: 143px;
  font-size: 20px;
}

@media (min-width:576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width:768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width:992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width:1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px
}

// SignUp
.h-40 {
  height: 40px !important;
}

.signup-block {
  width: 100%;
}

.d-flex-h-full {
  display: flex;
  height: 100vh;
}

.signup-container {
  max-width: 100%;
  padding: 20px 0;
  background: $primary;
  @extend .d-flex;
  @extend .align-items-center;
  justify-content: space-between;
}

.auth-head {
  color: white;
  text-transform: uppercase;
}

.login-wrapper {
  margin: 15px auto;
  // border: 1px solid rgba($color:$black, $alpha: 0.07);
  padding: 50px 24px 25px;
  border-radius: 12px;
  background: #c7c9df;


  h4 {
    color: $primary;
  }


  &.space {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  mat-form-field {
    margin-bottom: 15px;

    mat-icon {
      &.field-icon{
        margin-right: 5px;
      }
      &.pointer {
        cursor: pointer;
        font-size: 20px;
      }
    }
  }
  .country-flag {
    display: inline-flex;
    margin-right: 8px;
    align-items: center;
  }

  .mat-form-field-wrapper {
    width: 100%;
    margin-bottom: 10px;
  }

  .mat-radio-group {
    display: inline-block;
  }

  .mat-form-field,
  .mat-raised-button {
    width: 100%;
  }

  .mat-raised-button {
    margin: 15px 0 20px;
    margin-bottom: 0;
  }

  .mat-checkbox {
    display: inline-block;

    .mat-checkbox-inner-container {
      margin-top: 5px;
    }

    .mat-checkbox-label {
      white-space: normal;

      a {
        margin-bottom: 0;
      }
    }
  }

  a {
    margin-bottom: 20px;
    color: $primary;
    border-bottom: 1px dotted transparent;
    font-weight: 500;

    &:hover {
      border-bottom: 1px dotted;
    }
  }
}

.login-s2 {
  background: url(assets/img/login/Background.jpg) center/cover no-repeat;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 100vh;
}

.mat-form-field-wrapper {
  margin-bottom: 10px;
  width: 90%;
}

//

mat-form-field {
  width: 100%;
}
.header {
  padding: 20px 0;
}

.link {
  color: $primary;
  cursor: pointer;
  border-bottom: 1px dotted;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 600;
}

.error-message {
  color: $red;
  font-size: 12px;
}


.table-responsive {
  max-width: 100%;
  overflow-x: auto;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0 .75rem;
  font-size: 1rem;
  color: rgba($color:$black, $alpha: .65);
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid rgba($color:$black, $alpha: 0.1);
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &:focus {
    background-color: $white;
    border-color: rgba($color:$primary, $alpha: 0.35);
    outline: 0;
  }
}
//Custom CSS

// DASHBOARD Css//
.tr-img{
  width: 80px;
}
.dash-card{
  display: inline-block;
  padding: 20px;
  color: #000000;
  font-size: 10px;
}
.dash-card-1 {
  border: 1px solid black;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
}
.dash-card-2{
  display: inline-block;
  justify-content: center;
  align-content: center;
  border: 1px solid black;
  padding: 5px;
  color: #000000;
  font-size: 10px;
}
.mobileNoCount-symbol{
  width: 50px;
  height: 15px;
  background: #0c0f3a;
}
.dataPlan-symbol{
  width: 50px;
  height: 15px;
  border:1px solid #0c0f3a;
  background: #0c0f3a;
}
.breadCrumb{
  opacity: 0.7;
}
.breadCrumb:hover{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  opacity: 1;
}
// DASHBOARD Css//

.mat-drawer-content{
  overflow-x: hidden !important;
}
.profile-box{
  overflow: hidden !important;
  text-align: center;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 9999;
  background: #0c0f3a;
}
.mat-list-item-content{
  font-size: 14px;
  color: white;
  transition: .5s;
  opacity: .8;
}
.mat-list-item-content:hover{
  opacity: 1;
  background: #9FA8DA;
}
.mat-drawer-inner-container{
  overflow-y: hidden !important;
}
.icons{
  padding-right: 5px;
  width: 25px;
}
.header{
  padding: 5px;
  background: #0c0f3a;
}
.header-left{
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ok-dollar-logo{
  width: 40px;
}
mat-icon{
  cursor: pointer;
  color: #ffffff;
}
.example-container {
  width: 100%;
  height: 91%;
  // border: 1px solid rgba(0, 0, 0, 0.5);
}
.mat-drawer{
  width: 20%;
  background: #0c0f3a;
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
.profile-pic{
  width: 80px;
  border-radius: 50%;
}
.menu-icon{
  width: 20px;
  margin-bottom: 10px;
}
.menu-item-link{
  transition: .3s;
  opacity: .8;
}
.menu-item-link:hover{
  color: white;
  opacity: 1;
  transform: translateX(5px);
}



.mat-form-field-infix{
  border-top: unset;
}
//Table-CSS
table {
  width: 100%;
  white-space: nowrap;

}
  .table-pagination td{
  background: #eae3f3;
  padding-right: 15px !important;
  border-top: solid 10px #f6f6f6;
}

.table-pagination table th {
  color: #5d5858;
  font-size: 16px;
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
  padding: 0px 25px;
}
.table-pagination table td{
  text-align: center;
  font-weight: 600;
  padding: 0px 25px;
}
.table-pagination{
  height: calc(85vh - 120px);
  overflow: auto;
}
.dashboardSelect .mat-form-field-flex{
  box-shadow: #d6c7ec 3px 3px 3px 0px !important;
}

//Demo Table-CSS

.demo-table-row td{
  padding-right: 15px !important;
  border-top: solid 10px #f6f6f6;
}

.demo-table-row table th {
  color: #5d5858;
  font-size: 16px;
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
  padding: 0px 25px;
}
.demo-table-row table td{
  text-align: center;
  color: #807c7c;
  font-weight: 600;
  padding: 0px 25px;
}
.demo-table-row{
  height: calc(50vh - 120px);
  overflow: auto;
}
////

.mat-table thead{
  position: sticky;
  top: 0;
}

mat-paginator{
  width: 100%;
}

.mat-toolbar-row, .mat-toolbar-single-row
{
  padding: 0px !important;
}
.mat-paginator-container{
  justify-content: space-between !important;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #5b5650;
  background-clip: padding-box;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(199, 197, 197, 0.25);
}

::-webkit-scrollbar-button:single-button {
  display: block;
  border-style: solid;
  height: 13px;
  width: 16px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid #5b5650;
  border-top: 0px solid transparent;
}
/*Left*/
::-webkit-scrollbar-button:single-button:horizontal:decrement {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right:8px solid #5b5650;
  border-left: 0px solid transparent;
}

/*Right*/
::-webkit-scrollbar-button:single-button:horizontal:increment{
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 8px solid #5b5650;
  border-right: 0px solid transparent;
}
::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #777777 transparent;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid #5b5650;
  border-bottom: 0px solid transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #777777 transparent transparent transparent;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #5b5656;
}

//Table-CSS

//4.USER ROLE MASTER//
    .mat-select-placeholder {
      color: rgb(0 0 0 / 100%);
    }
    .crud-btns{
      width: 37px;
      cursor: pointer;

      margin-right: 10px;
    }
.active{
  background: #181c59;
}

.actionImage{
      width: 25px;
      cursor: pointer;
    }
    //.mat-form-field-flex,.mat-form-field-underline{
    //  width: 80% !important;
    //}
    .mat-form-field-appearance-fill .mat-form-field-flex{
      padding: 0.75em 0.75em 0 0.75em !important;
    }
  
    
    .mat-date-range-input-container{
      font-size: 14px;
    }
  //4.USER ROLE MASTER//

  //4.USER ROLE PERMISSION
  .profileImageList{
    display: flex;
    margin: auto;
    width: 50px;
    border-radius: 50%;
  }
  //.mat-form-field-infix {
  //  border-top: 0 solid transparent;
  //}
  //MODAL
  .mat-dialog-container{
    padding: 0 !important;
    overflow-x: hidden !important;
    border: 2px solid #0c0f3a;
  }
  .title_outer{
    background-color: #0c0f3a;
    color: #fff;
    height: 80px;
    padding: 30px;
  }
  .filter_select_header{
    position: sticky;
    top: 0;
    background: #e8e0e0;
    z-index: 9999;
    font-size: 12px !important;
    color: black;
  }
 
  .filter_select_header .mat-form-field-flex {
    padding-top: 0 !important;
    border-radius: 51px;
    margin: 7px 8px;
    background: #fff;
  }
  .mat-input-element{
    padding-left: 15px !important;
  }
  .mat-select-panel {
    transform: translate3d(25px, 55px, 0px) !important;
    min-width: calc(100% + 35px) !important;
    margin-top: 0px;
    overflow-x: hidden !important;
  }
  .single-option{
    transform: translate3d(0px, 55px, 0px) !important;
  }
  .mat-optgroup-label{
    color: #000;
    font-weight: bold;
  }
  .check_uncheck_btn{
    padding: 0 !important;
  }
.select_search_box {
  border-radius: 20px !important;
  height: 30px !important;
  width: 45% !important;
}
    //MODAL

  //4.User Add
  .mobileNo input {
    background-image: url(/assets/img/flags.png);
    background-repeat: no-repeat;
    background-position: left ;
    background-size: 35px;
    padding-left: 45px !important;
  }
  .optionGroup {
    transform: translate3d(25px, 98px, 0px) !important;
  }
  .useraddInput .mat-form-field-flex{
    box-shadow: #d6c7ec 3px 3px 3px 0px !important;
    border: none !important;
    border-width : 0;
    height: 55px !important;
  }
  //4.User Add

  //4.USER ROLE PERMISSION

  //6.Process
  .filetype{
    color: blue !important;
    text-decoration: underline;
  }
  //6.Process
.mat-toolbar {
  background:#fafafa;
  color: rgba(0, 0, 0, 0.87);
}
.md-drppicker{
  width: 145% !important;
}
.theme-green .bs-datepicker-head,.theme-green .bs-datepicker-body table td span.selected{
  background: #0c0f3a !important;
}
.mat-select-panel
{
  min-width: calc(100% + 94px);
}
.mat-select-panel {
  max-width: 0%;
  max-height: 383px;
}
bs-daterangepicker-container{
  margin-left: 1%;
}
.user-header{
  padding: 5px;
  border: 1px solid #0c0f3a;
  background: #0c0f3a;
  color: #ffff;
}
.user-profile-pic{
  width: 150px;
  border-radius: 50%;
}
.user-name:hover{
  cursor: pointer;
}
// search
.search-bar {
  cursor: pointer;
  width: 45px;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
  background-color: unset;
  background-image: url(assets/img/table-search.svg);
  background-size: 30px;
  background-position: 10px 8px;
  background-repeat: no-repeat;
  padding: 12px 20px 15px 40px;
  transition: width 0.4s ease-in-out;
  -webkit-transition: width 0.4s ease-in-out;
  float: left;
}

.search-bar::placeholder
{
  color: #5b5656;
}

.search-bar:focus
{
  width: 320px;
  border: 2px solid #0c0f3a  ;
  color: #000;
  outline: #fff;
  border-radius: 4px;
}
.mat-nav-list
{
  overflow-y: auto;
  max-height: 52vh;
}
.mat-form-field-underline{
  display: none ;
}

// End Custom CSS


// BEGIN : MEDIA

// lg = screen and (min-width: 1280px) and (max-width: 1919.99px)
// lt-xl = screen and (max-width: 1919.99px)
// gt-md = screen and (min-width: 1280px)
// gt-sm = screen and (min-width: 960px)
// gt-xs = screen and (min-width: 600px)

@media screen and (min-width: 1280px) {
  bs-daterangepicker-container{
    margin-left: 16%;
  }
  .pb-fix{
    padding-bottom: 35px;
  }
}

@media screen and (max-width: 1551px) {
  .otp-wrapper{
    top: 13% !important;
    right: 33% !important;
  }
  .pb-fix{
    padding-bottom: 115px;
  }
  .dash-card-1{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 959.99px) {
  .pt-sm-30 {
    padding-top: 30px;
  }

  .text-left-sm {
    text-align: left !important;
  }

  .pt-sm-50 {
    padding-top: 50px;
  }

  .pb-sm-30 {
    padding-bottom: 30px;
  }

  .mb-sm-20 {
    margin-bottom: 20px;
  }

  .mb-sm-30 {
    margin-bottom: 30px;
  }

  .mb-sm-40 {
    margin-bottom: 40px;
  }
  .mat-drawer,.header-left {
    width: 35%;
  }
  .cdk-overlay-pane{
    width: 80%  !important;
  }
  .otp-wrapper {
    right: 70% !important;
  }
  .login-s2{
    background: url('/Background.jpg') center/cover no-repeat !important;
  }
  .mat-select-panel {
    min-width: calc(55% + 94px) ;
  }
  .filter_select_header{
    justify-content: start !important;
  }
  .mat-select-panel{
    min-width: calc(78% + 64px) !important;
  }
}

@media screen and (max-width: 599.99px) {
  .content_outer {
    padding: 15px 10px !important;
  }
  .mat-drawer {
    width: 70%;
  }
  .header-left{
    width: 100%;
  }
  .filter_select_header{
    flex-direction: row !important;
  }
  .otp-wrapper {
    right: 85% !important;
  }
}

// END : MEDIA


/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";



//////Update Css
.save{
  line-height: 10px;
  background: #02893c;
  color: #ffffff;
  border: solid 2px #02893c;
  border-radius: 30px;
  width: 143px;
  font-size: 20px;
}

.cancel {
  line-height: 10px;
  background: #b81703;
  color: #ffffff;
  margin-right: 30px;
  border: solid 2px #b81703;
  border-radius: 30px;
  width: 143px;
  font-size: 20px;
 
}

.update {
  line-height: 10px;
  background: #3d6cb9;
  color: #ffffff;
  border: solid 2px #3d6cb9;
  border-radius: 30px;
  width: 143px;
  font-size: 20px;
 
}


.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 20px 0 1em 0;
}


.myPanelClass{
  margin-top: -15px;
}

.isGreen{
  color: #02893c;
}

.isRed{
  color: #b81703;
}

.main-content{
  height: calc(90vh - 120px);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: red!important;
  // opacity: 1!important;
}

.responsive-chart{
  display: flex;
    width: 100%;
    height: 100%;
}
.dashcard{
  border-radius: 1rem;
  margin: 5px 10px;
}

.dayTextBg{
  background-color: #ebebeb;
  border-radius: 40px;
  height: 30px;
  min-width: 74px;

  font-size: 12px !important;
}

.dayText{
  font-size: 12px;
  margin: 0;
  font-weight: 600;
  margin-top: 5px !important;
}

.MPT_bgColor{
  background-color: #f5b80f;
  color: #fff;
}

.Telenor_bgColor{
  background-color: #1529a6;
  color: #fff;
}

.Ooredoo_bgColor{
  background-color: #ed1b24;
  color: #fff;
}

.Mytel_bgColor{
  background-color: #f0620e;
  color: #fff;
}

.MEC_bgColor{
  background-color: #3a7eed;
  color: #fff;
}