<div class="p-3">
    <div class="d-flex justify-content-between align-items-center pb-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb font-weight-bold " style="background: none;">
              <li class="breadcrumb-item"><a href=""  [routerLink]="''"><h4>Process Total Base Amount Wise</h4></a></li>
              <li class="breadcrumb-item" aria-current="page"><h5>Service Type  Base Amount Wise</h5></li>
            </ol>
          </nav>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow dashcard" >
                <div class="d-flex justify-content-between pt-3">
                    <div class="px-3">
                      <p class="sHeader">Service Type Base Amount Wise</p>
                   
                    </div>
                    <div class="px-3 dayTextBg mx-2">
                      <p class="dayText">30 days</p>
                    </div>
                </div>
                <div id="serviceTypeAmt"> 
                    <apx-chart
                      [series]="serviceTypeAmtOptions.series"
                      [colors]="serviceTypeAmtOptions.colors"
                      [chart]="serviceTypeAmtOptions.chart"
                      [labels]="serviceTypeAmtOptions.labels"
                      [responsive]="serviceTypeAmtOptions.responsive"
                      [dataLabels]="serviceTypeAmtOptions.dataLabels"
                      [legend]="serviceTypeAmtOptions.legend"
                      [plotOptions]="serviceTypeAmtOptions.plotOptions"
                      [responsive]="serviceTypeAmtOptions.responsive"
                      style="
                      width: 100%;
                      height: 100%;"
                      ></apx-chart>
                </div>
                
                <div class="m-2">
                  <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Mention</th>
                        <th scope="col">Service Type</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Count</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span class="dot" style="background-color: #725aec;"></span></td>
                        <td>Top Up</td>
                        <td>8,900,000</td>
                        <td>1,200</td>
                      </tr>
                      <tr>
                        <td><span class="dot" style="background-color: #ea940b;"></span></td>
                        <td>Data Plan</td>
                        <td>10,680,000</td>
                        <td>2,000</td>
                      </tr>
                      <tr>
                        <td><span class="dot" style="background-color: #c21214;"></span></td>
                        <td>Special Offer</td>
                        <td>16,020,000</td>
                        <td>900</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow dashcard" [routerLink]="'../top-up-details'"> 

                <div class="d-flex justify-content-between pt-3">
                    <div class="px-3">
                      <p class="sHeader">Top Up</p>
                    </div>
                    <div class="px-3 dayTextBg mx-2">
                      <p class="dayText">30 days</p>
                    </div>
                </div>
                <div id="singleBase" class="responsive-chart"> 
                  <apx-chart
                    [colors]="topupBase.colors"
                    [series]="topupBase.series"
                    [chart]="topupBase.chart"
                    [yaxis]="topupBase.yaxis"
                    [xaxis]="topupBase.xaxis"
                    [stroke]="topupBase.stroke"
                    [tooltip]="topupBase.tooltip"
                    [plotOptions]="topupBase.plotOptions"
                    
                      style="
                      width: 100%;
                      height: 100%;"
                  ></apx-chart>
                </div>            
            </div>
            <div class="card shadow dashcard" [routerLink]="'../data-plan-details'"> 

                <div class="d-flex justify-content-between pt-3">
                    <div class="px-3">
                      <p class="sHeader">Data Plan</p>
                    </div>
                    <div class="px-3 dayTextBg mx-2">
                      <p class="dayText">30 days</p>
                    </div>
                </div>
                <div id="multipleBase" class="responsive-chart"> 
                  <apx-chart
                    [colors]="dataplanBase.colors"
                    [series]="dataplanBase.series"
                    [chart]="dataplanBase.chart"
                    [yaxis]="dataplanBase.yaxis"
                    [xaxis]="dataplanBase.xaxis"
                    [stroke]="dataplanBase.stroke"
                    [tooltip]="dataplanBase.tooltip"
                    [plotOptions]="dataplanBase.plotOptions"
                    
                      style="
                      width: 100%;
                      height: 100%;"
                  ></apx-chart>
                </div>            
            </div>
            <div class="card shadow dashcard"  [routerLink]="'../special-offer-details'"> 

                <div class="d-flex justify-content-between pt-3">
                    <div class="px-3">
                      <p class="sHeader">Special Offer</p>
                    </div>
                    <div class="px-3 dayTextBg mx-2">
                      <p class="dayText">30 days</p>
                    </div>
                </div>
                <div id="bulkBase" class="responsive-chart"> 
                  <apx-chart
                    [colors]="specialofferBase.colors"
                    [series]="specialofferBase.series"
                    [chart]="specialofferBase.chart"
                    [yaxis]="specialofferBase.yaxis"
                    [xaxis]="specialofferBase.xaxis"
                    [stroke]="specialofferBase.stroke"
                    [tooltip]="specialofferBase.tooltip"
                    [plotOptions]="specialofferBase.plotOptions"
                    
                      style="
                      width: 100%;
                      height: 100%;"
                  ></apx-chart>
                </div>            
            </div>
        </div>
    </div>
</div>
