<div class="p-3 main-content">
  <h3>Create Company Name</h3>
  <div class="row p-2">
        <div class="col-12 col-md-4 ">
          <h5>Company Name <span class="text-danger">*</span></h5>
          <mat-form-field class="example-full-width useraddInput" appearance="outline">
            <input matInput placeholder="Enter Company Name" value="">
          </mat-form-field>
        </div>
        <div class="col-12 col-md-4">
          <h5>Remark<span class="text-danger">*</span></h5>
          <mat-form-field appearance="outline" class="example-full-width useraddInput">
            <input matInput placeholder="Enter Remark">
          </mat-form-field>
        </div>
  </div>
</div>
<mat-toolbar class="mat-toolbar mat-toolbar-single-row d-flex justify-content-center align-items-center">
    <button class="cancel" [routerLink]="'../company-listing'">Cancel</button>
    <button class="save" >Save</button>
</mat-toolbar>
