<div class="container-fluid">
  <div class="col-12">
    <mat-card class="m-2 ">
      <div class="row">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex">
            <h4 class="breadCrumb" [routerLink]="'../top-up-chart'">Top Up Amount/</h4>
            <h4 class="breadCrumb">Single Top Up/</h4>
            <h4 class="breadCrumb" [routerLink]="'../single-transactionDetail'">Transaction Detail/</h4>
            <h4 class="">Mobile Number Detail</h4>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <img src="../../../../assets/icons/Filter.svg" class="menu-icon me-3" alt="" matTooltip="Filter"
                 aria-label="Button that displays a tooltip when focused or hovered over" (click)="openDialog()">
            <mat-form-field appearance="fill">
              <mat-label>Select Amount Type</mat-label>
              <mat-select  name="food">
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex align-items-baseline justify-content-center">
          <div class="mobileNoCount-symbol me-2"></div>
          <p class="fw-bold">Mobile Number Count</p>
        </div>
        <div class=" chartSize" #barChart [routerLink]="'top-up-chart'">
          <ngx-charts-bar-vertical
            [view]="[barChart.offsetWidth, 450]"
            [barPadding]="15"
            [scheme]="colorScheme3"
            [results]="shareCost"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [legendTitle]="legendTitle"
            (select)="onSelect($event)">
          </ngx-charts-bar-vertical>
          <!-- [xAxisLabel]="xAxisLabel" -->
        </div>
      </div>
      <div class="my-5 border-1 row">
        <div class="col-12 col-md-4 col-xl-4 dash-card-1">
          <div class="text-center">
            <img src="../../../../assets/icons/D -1.svg" alt="" class="tr-img"
                 style="height: 50px;width: 50px;">

            <div class="text-center fw-bold">
              <p>Total Transaction Count</p>
              <h3>3,000</h3>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 col-xl-4 dash-card-1">
          <div class="text-center">
            <img src="../../../../assets/icons/D -2.svg" alt="" class="tr-img"
                 style="height: 50px;width: 50px;">
            <div class="text-center fw-bold">
              <p>Total Mobile Number Count</p>
              <h3>5,700</h3>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 col-xl-4 dash-card-1 ">
          <div class="text-center">
            <img src="../../../../assets/icons/D -3.svg" alt="" class="tr-img"
                 style="height: 50px;width: 50px;">

            <div class="text-center fw-bold">
              <p>Total Amount</p>
              <h3>2,300,000</h3>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
